* {
    font-family: Consolas, sans-serif;
    user-select: none;
    box-sizing: border-box;
}

body {
    margin: 0;
}


.main-container {
    position: relative;
}

#ecosystem {
    margin: 0;
    padding: 0;
}

/*Creature Statistics*/
#creatureStatistics {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px;
    color: #FFFFFF;
    /*background-color: red;*/
}

#statistics {
    margin: 0;
}


/* SIDE NAVIGATION */
.settingsToggle {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px;
    border-radius: 50px;
    background-color: yellow;
    cursor: pointer;
}

.burger-icon {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    cursor: pointer;
}

/* SIDE NAVIGATION END */

.legend-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.legend {
    display: flex;
}

.common {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.legend-color-1 {
    background-color: #1DA1F2;
}

.legend-color-2 {
    background-color: #17BF63;
}

.legend-color-3 {
    background-color: #DC004E;
}

.legend-color-4 {
    background-color: #F45D22;
}

.legend-color-5 {
    background-color: #794BC4;
}

.legend-color-6 {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.legend-color-7 {
    background-color: #E0245E;
}

/* Control Panel Top */
.debug-container {
    display: flex;
    flex-direction: column;
}

.debug-left {
    /*background-color: red;*/
    display: flex;
    padding-left: 20px;
}

.debug-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*background-color: pink;*/
    padding-left: 20px;
}

/* End Control Panel Top */

/* New Control Panel */
.control-panel {
    display: flex;
    /*background-color: yellow;*/
}

.control-panel-left {
    display: flex;
    width: 70%;
    /*background-color: pink;*/
}

.flock-control {
    display: flex;
    width: 33.33%;
    padding: 20px 0 20px 0;
    /*background-color: blue;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-panel-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-left: 2px solid #2196F3;
    /*background-color: green;*/
}

.items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 0 5px 0;
    justify-content: center;
    align-items: center;
    /*background-color: salmon;*/
}
/* End New Control Panel */

/* Custom Select */
select {
    width: 80%;
    padding: 4px 5px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #f1f1f1;
    margin: auto;
}

/* Custom Slider */
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E0245E;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #E0245E;
    cursor: pointer;
}
/* End Custom Slider*/

/* Custom Check Box */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #000000;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #E0245E;
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* End Custom Check Box */

/* Custom Reset Button */
.reset-button {
    padding: 5px 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.reset-button:hover {background-color: #1DA1F2}

.reset-button:active {
    background-color: #1DA1F2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
